/*Seletor Universal
*{
    border: 1px solid red;
}

 */

/*Seletor de Texto
h1{
    color: green;
}

 */

/*Seletor de classe
.verde {
    color: green;
}

p.verde {
    color: green;
}

 */

/*seletor de ID
#cabecalho{
    border: 1px solid blue;
}

 */

/*seletor de filho
li>a {
    color: red;
    text-decoration: none;
}

 */

/*seletor decendente
div a{
    color: yellow;
}

 */

/*Seletor de irmao adjacente (precedente)
h1+p{
    color: red;
}

 */

/*Seletor de irmao Geral*/
h1~p{
    color: deeppink;
}