/*Herança
body{
    color: red;  Todos os elementos herdaram
    border: 1px solid blue;  Por padrão os elementos não herdam
}
*/

/* Especificidade */

/*
p {
    color: blue !important; Evitar utilizar important
}

p{
    color: red;
}

 */

/*Se um seletor for mais especifico que outro a regra
 mais especifica será aplicada (terá precedencia sobre regras mais gerais)
 */

*{
    color: red;
}
h2{
    color: blue;
}

h2.verde{
    color: green;
}

h2#amarelo{
    color: yellow;
}